<h1>Create Hotel</h1>
  <%= 
    link_to 'Home', {
      :controller => "hotels",
      :action => "index"
    }, :method => :get
  %>
<div class="entry">
  <%= render 'hotels/create_form', :accommodations => @accommodations, :stars => @stars %>
</div>
