<h1>Show</h1>
<%= 
  link_to 'Home', {
    :controller => "hotels",
    :action => "index"
  }, :method => :get
%>
<div class="entries">
  <%= render 'hotels/full_hotel', :hotel => @hotel, :accommodation => @accommodation, :star => @star %>
</div>
